table, th, td { border: solid 1px #666; }
th { background: #ddd; }
table { border-collapse: collapse; }
tbody th { text-align: left; }

.red { background: #f55; }
.yellow { background: #ff5; }
.green { background: #5f5; }